
.top-menu {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $secondary-highlight;
  text-shadow: none;
  z-index: 1000;

  .row {
    max-width: 100%;

    a {
      color: $primary-dark;
    }
  }

  &.expanded {
    border-bottom: 1px solid $primary-dark;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  }
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
  background-color: $primary-light;
  height: 100%;
  padding-top: 2em;

  .page-content {
    .region-main-content {
    }
  }
}
